body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.register-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #eafaf1;
}

.top-section {
  height: 220px;
  background-color: #1ecb81;
  border-bottom-left-radius: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-placeholder {
    display: flex;
    justify-content: center;
}

.form-section {
  flex: 1;
  background: white;
  z-index: 1;
  margin: -100px auto 0 auto;
  width: 90%;
  max-width: 400px;
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form h2 {
    margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form input.name-input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}

.phone-input-inner {
  width: 100% !important;
  padding: 12px;
  border-radius: 8px !important;
  border: 1px solid #ccc !important;
  color: #000 !important;
  background: white !important;
}

.phone-flag-button {
  border: none !important;
}

.form button {
  width: 100%;
  margin-top: 30px !important;
  padding: 12px;
  background-color: #1ecb81;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

.form button:hover {
  background-color: #17b26a;
}

.success-message {
    margin-top: 30px;
    color: #0d7746;
  text-align: center;
  padding: 20px;
}

.success-message button {
  margin-top: 30px;
  padding: 12px 20px;
  background-color: #1ecb81;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.bottom-section {
  height: 160px;
  background-color: #318862;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  margin-top: 30px;
}
